@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

div {
    
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

.ui.huge.header {

    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
}

.ui.items>.item>.content>.header:not(.ui){

    font-family: 'Dancing Script', cursive;
}


i.icon {

    font-size: 2em;
}

.container.main {
    margin-top: 7.0em;
}

#delete {
    display: inline;
}

